.button{
    display: flex;
    justify-content: center;

    &__txt{
        background-color: $color-fith;
        padding: 15px 25px;
        border-radius: 50px;
        border: none;
        color: $color-third;
        font-weight: 500;
    }
}