
.header{
    height: 67px;
    margin: auto;
    width:100%;
    display:flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index:500;
    top:0;

    @media (max-width: $bp-t) {
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: $bp-m) {
        height: 95px;
    }



    &__name{
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 20px;
        padding: 5px;
    }
    &__nav{
        display: flex;
        justify-content: flex-end;
        margin-top:38px;

        @media (min-width: $bp-m) and (max-width: $bp-t) {
            justify-content: center;
            margin:auto;
            padding-bottom: 10px;
        }

        @media (max-width: $bp-m) {
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            gap:8px;
        }

        &--link{
            font-family: "Poppins", sans-serif;
            text-decoration: none;
            font-size: 12px;
            color: black;
            list-style: none;
            padding: 10px 15px;

            @media (max-width: $bp-m) {
                padding:5px 15px;
            }

            &:hover{
                color: white;
                background-color: black;
            }

            &:active{
                color: white;
                background-color: black;
            }
        }
    }
}