
.header{
    height: 40px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
    position:sticky;
    top:0;
    background: radial-gradient(circle, rgb(237, 222, 234) 0%, rgb(226, 202, 222) 100%);


    @media (max-width: $bp-m) {
        height: auto;
    }


    &__logo{
        height: 100%;
        @media (max-width: $bp-m) {
            height: 30px;
        }
    }

    &__nav{
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;


        @media (max-width: $bp-m) {
            flex-wrap: wrap;
            justify-content: center;
            gap:8px;
            margin-top: 15px;
        }

        &--link{
            font-family: "Poppins", sans-serif;
            text-decoration: none;
            font-size: 20px;
            color: black;
            list-style: none;
            height: 40px;
            padding: 16px 15px;


            @media (max-width: $bp-m) {
                padding:5px 15px;
            }

            &:hover{
                color: white;
                background-color: #9d97cf;
            }

            &:active{
                color: white;
                background-color: #9d97cf;
            }
        }
    }
}