
.header{
    height: 40px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
    position:sticky;
    top:0;
    background: radial-gradient(circle, rgba(237,221,221,1) 0%, rgba(229,205,205,1) 100%);

    @media (max-width: $bp-t) {
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: $bp-m) {
        height: 95px;
    }



    &__logo{
        height: 100%;
    }

    &__nav{
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;

        @media (min-width: $bp-m) and (max-width: $bp-t) {
            justify-content: center;
            margin:auto;
            padding-bottom: 10px;
        }

        @media (max-width: $bp-m) {
            flex-wrap: wrap;
            justify-content: center;
            gap:8px;
            margin-top: 15px;
        }

        &--link{
            font-family: "Poppins", sans-serif;
            text-decoration: none;
            font-size: 20px;
            color: black;
            list-style: none;
            height: 40px;
            padding: 16px 15px;

            @media (max-width: $bp-t) {
                font-size: 12px;
                
            }

            @media (max-width: $bp-m) {
                padding:5px 15px;
            }

            &:hover{
                color: white;
                background-color: #9d97cf;
            }

            &:active{
                color: white;
                background-color: #9d97cf;
            }
        }
    }
}