.presentation{
    @include container;

    &__content{
        @include content;
        width: 100%;


        &__photo{
            width:250px;
            height: 250px;
            object-fit:cover;
            border-radius: 50%;
        }

        &__txt{
            width: 75%;
            text-align:center;
            line-height: 1.75;

            &--bold{
                font-weight: 600;
                margin-bottom: 15px;
                font-size: 16px;
                line-height: 1.5;
            }
        }
        
    }
}

.realisations{
    @include container;

    &__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;

        @media (max-width: $bp-t) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.competences{
    @include container;


    &__content{
        @include content;

        &--hardSkills{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:25px;

            &--grid{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-gap: 15px;

                @media (max-width: $bp-m) {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }

        &--softSkills{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:25px;

            &--grid{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 50px;
                padding-top: 20px;

                @media (max-width: $bp-m) {
                    padding:0;
                    display:block;
                    text-align: center;
                }

                li{
                    font-size: 16px;
                }
            }
        }

    }
}

.contact{
    @include container;

    &__content{
        @include content;

        &--link{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:30px;

            
        }
    }
    
}