.formules{
    @include container;
    align-items:normal ;
    gap: 20px;

    &__content{

    
        &--center{
            text-align: center;
            font-size: 20px;
            color:$color-third;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            padding: 20px 0;

            &--color{
                color:$color-fourth;
            }
        }

        &--point{
            margin-left:40px;
            line-height: 2em;
        
            @media (max-width: $bp-m) {
                margin-left: 5px;
            }

        }

        &--choice{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            @media (max-width: $bp-t) {
                flex-direction: column;
            }


        }
    }

    &__exemple{
        margin: 40px 0 40px 200px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: $bp-t) {
            margin: 0 0 0 20px;
            text-align: justify;
        }
      }
}

.deroulement{
    @include container-large;
    padding: 40px;
    background-color: $color-third;

    @media (min-width: $bp-ld) {
        padding: 20px 250px;
    }

    @media (max-width: $bp-t) {
        padding: 20px;
    }


    &__intro{
        color: $color-second;
        text-align: center;
        padding:0 100px;

        @media (max-width: $bp-t) {
            padding: 0;
        }
    }

    &__title{
        color:$color-second;
    }

    &__img1{
        width: 100%;

        @media (max-width: $bp-m) {
            display: none;
        }
    }

    &__img2{
        display: none;

        @media (max-width: $bp-m) {
            display: flex;
            width: 100%;
        }
    }

}


.faq{
    @include container;

    &__questions{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:20px;

        &--q{
            display: flex;
            align-items: baseline;
            gap : 30px;

            @media (max-width: $bp-t) {
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}