.formules{
    margin: 25px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__content{

    
        &--center{
            text-align: center;
            font-size: 20px;
            color:$color-third;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            padding: 20px 0;

            &--color{
                color:$color-fourth;
            }
        }

        &--point{
            margin-left:40px;
            line-height: 2em;
        }
    }
}