@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&family=Mulish&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #eddddd;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
}
@media (max-width: 767.98px) {
  main {
    padding-top: 95px;
  }
}

li {
  list-style: none;
}

h2 {
  text-align: center;
  font-size: 60px;
  font-family: "Gruppo", sans-serif;
  font-weight: 500;
  font-style: normal;
}
@media (max-width: 767.98px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-size: 18px;
}

.header {
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: #f5d6d6;
}
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .header {
    height: 95px;
  }
}
.header__logo {
  height: 100%;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
@media (min-width: 767.98px) and (max-width: 1024px) {
  .header__nav {
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
  }
}
@media (max-width: 767.98px) {
  .header__nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
  }
}
.header__nav--link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: black;
  list-style: none;
  height: 40px;
  padding: 16px 15px;
}
@media (max-width: 1024px) {
  .header__nav--link {
    font-size: 12px;
  }
}
@media (max-width: 767.98px) {
  .header__nav--link {
    padding: 5px 15px;
  }
}
.header__nav--link:hover {
  color: white;
  background-color: #9d97cf;
}
.header__nav--link:active {
  color: white;
  background-color: #9d97cf;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 50px 0;
}
.footer__txt {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.footer__txt--button {
  cursor: pointer;
}
.footer__txt--button:hover {
  color: pink;
}

.card {
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px;
  width: 450px;
  color: white;
  background-color: black;
}
@media (max-width: 767.98px) {
  .card {
    width: 250px;
    display: flex;
    flex-direction: column-reverse;
  }
}
.card__top {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .card__top {
    height: auto;
    justify-content: center;
  }
}
.card__top--img {
  height: 100%;
  width: auto;
}
@media (max-width: 767.98px) {
  .card__top--img {
    display: none;
  }
}
.card__top--logo {
  width: 40px;
  cursor: pointer;
}
.card__bottom {
  display: flex;
  padding: 15px;
  cursor: pointer;
  gap: 10px;
  align-items: center;
}
@media (max-width: 767.98px) {
  .card__bottom {
    flex-direction: column;
  }
}
.card__bottom--txt {
  text-align: justify;
}
.card__bottom--plus {
  font-size: 60px;
}

.skill {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  perspective: 1000px;
  z-index: 1;
}
@media (max-width: 1024px) {
  .skill {
    height: 50px;
    width: 50px;
  }
}
.skillInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.skillInner__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.skillInner__logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.skillInner__name {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.skillInner__name p {
  font-size: 12px;
}
.skill:hover .skillInner {
  transform: rotateY(180deg);
}

.contactForm {
  border: 1px solid black;
  width: 300px;
  background-color: #fff;
  margin: 0;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}
.contactForm__title {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid black;
}
.contactForm__content {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contactForm__content--input {
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-image: none;
  background-color: #dadad3;
  box-shadow: none;
  padding: 5px;
}
.contactForm__content .button {
  margin-top: 10px;
  align-self: flex-end;
  cursor: pointer;
  font-weight: 500;
}
.contactForm__content textarea {
  min-height: 50px;
  resize: vertical;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.modal__content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 40%;
  height: 70%;
}
@media (max-width: 1024px) {
  .modal__content {
    width: 70%;
  }
}
.modal__content--close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}
.modal__content--title {
  font-weight: 700;
  font-size: 40px;
}
@media (max-width: 767.98px) {
  .modal__content--title {
    font-size: 30px;
  }
}
.modal__content--txt {
  max-height: 90%;
  overflow-y: auto;
}
.modal__content--paragraph {
  margin-top: 20px;
}

.banner {
  border: 2px solid black;
  background: linear-gradient(90deg, rgb(68, 32, 99) 0%, rgb(52, 37, 103) 28%, rgb(29, 50, 99) 44%, rgb(31, 45, 81) 100%);
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.banner__logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__logo--img {
  width: 55%;
}
.banner__content {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 25px 0;
  padding-bottom: 50px;
  padding-right: 100px;
}
.banner__content--title {
  font-size: 50px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 25px 0;
  padding-bottom: 50px;
  position: relative;
  border: 2px solid green;
}
.presentation::before {
  content: "";
  position: absolute;
  border-bottom: 3.5px solid black;
  margin: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.presentation__content {
  display: flex;
  width: 100%;
  padding: 0 150px;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 1024px) {
  .presentation__content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.presentation__content__photo {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.presentation__content__txt {
  width: 60%;
  text-align: center;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.presentation__details {
  font-size: 18px;
}
.presentation__details--color {
  color: #9d97cf;
}

.realisations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 25px 0;
  padding-bottom: 50px;
}
.realisations__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1024px) {
  .realisations__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.competences {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 25px 0;
  padding-bottom: 50px;
}
.competences__content {
  display: flex;
  width: 100%;
  padding: 0 150px;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .competences__content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.competences__content--hardSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.competences__content--hardSkills--grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}
@media (max-width: 767.98px) {
  .competences__content--hardSkills--grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.competences__content--softSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.competences__content--softSkills--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding-top: 20px;
}
@media (max-width: 767.98px) {
  .competences__content--softSkills--grid {
    padding: 0;
    display: block;
    text-align: center;
  }
}
.competences__content--softSkills--grid li {
  font-size: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 25px 0;
  padding-bottom: 50px;
}
.contact__content {
  display: flex;
  width: 100%;
  padding: 0 150px;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .contact__content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.contact__content--link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}/*# sourceMappingURL=index.css.map */